*{
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    background: rgb(138,225,34);
    background:rgb(169, 239, 169) ;
}

.h1b{
    background: gainsboro;
}

.divbotao{
    float: center;
    bottom: 0;
    
}

.img{
    height: 500;
    width: 500px;
}

.div1{
    text-align: left;
    margin-left: 10%;
}

.div2{
    text-align: center;
}

.div3{
    text-align: right;
    margin-right: 10%;
}

.div4{
    text-align: center;
}

.div5{
    text-align: left;
    margin-left: 10%;
}

.div6{
    text-align: right;
    margin-right: 10%;
}

.img_inicial{
    width: 400;
    height: 400;
    
}

.body{
    text-align: center;
}

.img_inicial2{
    width: 200;
    height: 100;
    
}

.div_geral{
    width: 100%;
    height: 720px;
    border: 5px solid;
    margin: auto;
    padding: auto;
    margin-right: 10px;
}

.div_m1{
    width: 260px;
    height: 260px;
    border: 1px solid;
    display: inline-table;
    justify-content: space-around;
    padding-right: 50px;
    text-align: center;
    background: whitesmoke;
    
}

.img_m{
    width: 200px;
    height: 190px;
    background: fixed;
}

.video{
    width: 220px;
    height: 200px;
    background: fixed;
}

.memes{
    justify-content: space-between;
    display: block;
    align-items: center;
}

.img_memes{
    width: 400px;
    height: 400px;
}

.h1_memes{
    text-align: center;
}

button{
    border-radius: 70px;
    background: gainsboro ;
}

.div_pg2{
    text-align: center;
}

.h3{
    background: fixed;
}





